1. Indexing Strings:
Given the string s = "PYTHON", retrieve and print the following:

a) The first character
b) The last character
c) The string "H"
d) The type of "H"

In [2]:
s = "PYTHON"

s[0]

'P'

In [3]:
s[5]

'N'

In [12]:
H = s[3]
print(H)

H

In [13]:
type(H)

str

2. Indexing Tuples:
Given the tuple t = (10, 20, 30, 40, 50, 60), retrieve and print the following:

a) The first element
b) The third element 
c) (Try to) Set the 3rd element to 30.4

In [14]:
t=(10,20,30,40,50,60)

t[0]

10

In [16]:
t[2]

30

In [17]:
t[3] = 30.4

TypeError: 'tuple' object does not support item assignment

3. Indexing Lists and Lists of Lists:
Given the list lst = [5, 15, 25, [35, 45, [55, 65, 75], 85], 95], retrieve and print the following:

a) The first element
b) The last element
c) The sublist [55, 65, 75] 
d) The number 65

In [18]:
lst = [5, 15, 25, [35, 45, [55, 65, 75], 85], 95]

lst[0]

5

In [38]:
lst[4]

95

In [42]:
lst[3]

[35, 45, [55, 65, 75], 85]

In [48]:
lst[3][2]

[55, 65, 75]

In [49]:
lst[3][2][1]

65

4. Lists of Lists as Arrays:
Consider a 3x3 matrix represented as a list of lists:

matrix = [[1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

a) Retrieve the second row.
b) Retrieve the third column.
c) Change the center element to 0 and print the modified matrix.

In [52]:
matrix = [[1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

matrix[1]

[4, 5, 6]

In [54]:
matrix[0][2], matrix[1][2], matrix[2][2]

(3, 6, 9)

In [56]:
matrix[1][1]=0
print(matrix[1][1])

0

5. Using Sets:
Given two lists 
A = [1, 2, 2, 3, 4, 4, 5] and B = [4, 5, 5, 6, 7, 7,  8]:

a) Create sets from both lists.
b) Find the union of the two sets.
c) Find the intersection of the two sets.
d) Find the elements that are in A but not in B. 
e) Find the elements that are in A or B but not both.

In [58]:
A = {1, 2, 2, 3, 4, 4, 5}
B = {4, 5, 5, 6, 7, 7,  8}

print(A,B)

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}

In [59]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [62]:
A & B

{4, 5}

In [63]:
A - B

{1, 2, 3}

In [64]:
B ^ A

{1, 2, 3, 6, 7, 8}

6. Working with Dictionaries:
Consider the following dictionary that represents the stock of items in a store:

stock = {
    "apple": 50,
    "banana": 25,
    "orange": 30,
    "grape": 45
}
a) Retrieve the stock of apple.
b) Add a new fruit, pear, with a stock of 40.
c) Update the stock of banana to 30.
d) Remove orange from the stock.

In [66]:
stock = {
    "apple": 50,
    "banana": 25,
    "orange": 30,
    "grape": 45 }

In [70]:
print(stock["apple"])

50

In [76]:
stock["pear"] = 40
print(stock)

{'apple': 50, 'banana': 25, 'orange': 30, 'grape': 45, 'pear': 40}

In [78]:
stock["banana"] = 30
print(stock)

{'apple': 50, 'banana': 30, 'orange': 30, 'grape': 45, 'pear': 40}

In [79]:
del stock["orange"]
print(stock)

{'apple': 50, 'banana': 30, 'grape': 45, 'pear': 40}