Create a Series:

Create a Series named fruits with the data: 'apple', 'banana', 'cherry', 'date', and assign it an index of 'a', 'b', 'c', 'd' respectively.
Print the Series.
Print the Index of the series


Print the second ("b") element of the fruits Series.

Create a Series with the squares of the numbers 1 through 5.
Add 10 to each item in the series (hint: there a method to this madness).

In [3]:
import pandas as pd

In [4]:
fruits = pd.Series(['apple', 'banana', 'cherry', 'date'],index=['a','b','c','d'])

print(fruits)
print(fruits.index)

a     apple
b    banana
c    cherry
d      date
dtype: object
Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
print(fruits['b'])

banana

In [6]:
squares = pd.Series([1**2, 2**2, 3**2, 4**2, 5**2])
print(squares)

print(squares+10)

0     1
1     4
2     9
3    16
4    25
dtype: int64
0    11
1    14
2    19
3    26
4    35
dtype: int64

Create a DataFrame named students with the columns: 'Name', 'Age', 'Grade'.
Populate it with data for three fictional students.
Accessing Data:

Print the Name column of the students DataFrame.

DataFrame Operations:

Add a new column to the students DataFrame named Graduated, which should be True if the student's grade is 'A' and False otherwise.
Print the updated DataFrame.

Maths:

Calculate and print the average age of the students.

Sorting:

Sort the students DataFrame based on the Age column in descending order and print it.

In [30]:
categories = {'Name': ['Bob', 'Billy', 'Joe'],
            'Age': [16, 17, 15],
            'Grade': ['A', 'B', 'C']}

students = pd.DataFrame(categories)

students

    Name  Age Grade
0    Bob   16     A
1  Billy   17     B
2    Joe   15     C

In [27]:
students['Name']

0      Bob
1    Billy
2      Joe
Name: Name, dtype: object

In [36]:
students['Graduated'] = students['Grade'] == 'A'

print(students)

    Name  Age Grade  Graduated
0    Bob   16     A       True
1  Billy   17     B      False
2    Joe   15     C      False

In [37]:
average = students['Age'].mean()

print(average)

16.0

In [35]:
arranged_students = students.sort_values(by='Age', ascending=False)

print(arranged_students)

    Name  Age Grade
1  Billy   17     B
0    Bob   16     A
2    Joe   15     C

Re-make the cognitive health data frame from class so it is "tidy", with each column as variable and each row an observation.

* Compute the mean and standard deviation of all variables.

* Compute the mean and standard error for the happiness variable (there might even be a method for computing standard error...).

In [46]:
data = { 'happyness': [10,15,18, 13],
        'language': [2,4,7,2],
        'energy': [5,9,12,7],
        'memory': [3,6,9,4]}
cog_health = pd.DataFrame(data)

cog_health.index = ['subject1', 'subject2','subject3', 'subject4']

print(cog_health)

          happyness  language  energy  memory
subject1         10         2       5       3
subject2         15         4       9       6
subject3         18         7      12       9
subject4         13         2       7       4

In [62]:
import numpy as np 

mean = cog_health.mean()

std_dev = np.std(cog_health)

print(mean)
print(std_dev)

happyness    14.00
language      3.75
energy        8.25
memory        5.50
dtype: float64
happyness    2.915476
language     2.046338
energy       2.586020
memory       2.291288
dtype: float64

In [61]:
h_mean = cog_health['happyness'].mean()

h_stdDev = np.std(cog_health['happyness'])

print(h_mean)
print(h_stdDev)

14.0
2.9154759474226504